body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #333;
    color: white;
    padding: 10px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px;
}

.product img {
    max-width: 100%;
    height: auto;
}

h3 {
    font-size: 1.5rem;
    margin: 10px 0;
}

p {
    font-size: 1rem;
    color: #777;
}

h2 {
    margin-top: 20px;
}

ul#cart-items {
    list-style: none;
    padding: 0;
}

h3 {
    margin-top: 20px;
    font-size: 1.5rem;
}

#checkout {
    background-color: #e9321e;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}